@font-face {
  font-family: "Route159";
  src: url("/route159/Route159-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Route159";
  src: url("/route159/Route159-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #050b18;
  color: white;

  font-family: "Route159", sans-serif;
}

#root {
  box-sizing: border-box;
  height: 100vh;
  padding: 1em;
  gap: 1em;
}

::selection {
  color: black;
  background: #b7cefd;
}

h2 {
  font-weight: bold;
}

h2, p, pre {
  margin: 0;
}

a {
   color: #a4d5f7;
}

button {
  color: white;
  background-color: #3b5487;
  border: none;
  padding: .5em 1em;
}

.panel {
  padding: 1em;
  border: 1px solid white;
  box-sizing: border-box;

  &-left, &-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
  }

  &-left-top {
    display: flex;
    align-items: center;
    gap: 1em;

    label {
      text-wrap: nowrap;
      font-weight: bold;
    }

    input {
      color: white;
      flex: 1;
      padding: 4px;
      background: none;
      border: none;
      border-bottom: 1px dashed white;

      &:focus {
        outline: none;
      }
    }
  }

  &-left-bottom {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
  }

  &-dual-view, &-left, &-right {
    height: 100%;
    display: flex;
    gap: 1em;
  }
}

.mode-type {
  display: flex;
  gap: 1ch;
  align-items: center;
}

.build-entry {
  padding: 5px;

  width: inherit;
  height: inherit;

  display: flex;
  align-items: center;
  gap: 1ch;

  background: none;
  border: none;
  color: inherit;

  &-current {
    background: #28395f;
  }

  &:hover span.attrpath {
    text-decoration: underline;
  }

  span.attrpath {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }

  & > span:nth-child(2) {
    color: grey;
  }
}

.log-viewer {
  font-family: "Jetbrains Mono", monospace;
  word-break: break-all;
  text-wrap: wrap;
  overflow-y: scroll;
}

.separator {
  width: 300%;
  border-top: 1px solid white;
  transform: translateX(-50%);
}

@media (max-width: 1240px) {
  .panel {
    &-dual-view {
      flex-direction: column;
    }

    &-left {
      min-height: 0;
    }

    &-right {
      flex: 1;
      max-height: 50%;
    }
  }
}

.loading {
  display: flex;
  align-items: center;
  gap: 1em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-nix {
  animation: spin 4s linear infinite;
}

.log-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
