body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #050b18;
  color: white;
}

#root {
  box-sizing: border-box;
  height: 100vh;
  padding: 1em;
  gap: 1em;
}

h2, p {
  margin: 0;
}

a {
   color: #a4d5f7;
}

.panel {
  &-dual-view, &-left, &-right {
    height: 100%;
    display: flex;
    gap: 1em;
  }

  &-left, &-right {
    width: 100%;
    flex-direction: column;
    overflow: clip;
  }
}

.build-entry {
  display: flex;
  align-items: center;
  gap: 1ch;

  & > span:nth-child(2) {
    color: grey;
  }
}


.log-viewer {
  word-break: break-all;
  text-wrap: wrap;
  overflow-y: scroll;
}
